<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find frame_trans)/config/lidar3d_control.yaml" command="load"/>

  <!-- load the controllers, args include: "joint1_position_controller  joint2_position_controller" as specified above-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/lidar3d" args="joint_state_controller joint1_position_controller"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <remap from="/joint_states" to="/lidar3d/joint_states" />
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/lidar3d/joint_states" />
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
